- max_page = (@snippets.count / Snippet::PAGE_SIZE) + 1

%nav.pagination
  .container
    %ul
    - (1..max_page).each do |n|
      - if @page == n
        %li Page #{n}
      - else
        %li= link_to "Page #{n}", snippets_path(page: n)
