.row.clearfix
  .container
    %p{style: 'float: right'}
      = link_to "Create a Snippet", new_snippet_path, class: 'green button'
    %h2 All Snippets on Agora

.row.clearfix
  .container
    = render @snippets
