.row.clearfix
  .container
    %h2
      %span{style: 'color: #aaa'} #{@snippet.user.username} /
      = @snippet.name
    %h4= @snippet.language.name

.row.clearfix
  .container
    = preserve raw @snippet.pretty_content
