.row.clearfix
  .container
    %h2 #{@user.username}'s Snippets

.row.clearfix
  .container
    - if signed_in? && current_user == @user
      = render @user.snippets.where(public: [true, false])
    - else
      = render @user.snippets
