@import "variables";

form {
  .form-group {
    margin: 1em 0;

    &:nth-of-type(2) {
      margin-top: 0;
    }

    label {
      display: block;
      font-weight: 600;
    }

    select, .select2-container {
      width: 100%;
    }

    .select2-choice {
      height: 1.5em;
    }

    input[type="text"] {
      -webkit-appearance: none;
      outline: none;
      appearance: none;
      border: none;
      font: inherit;
      -webkit-font-smoothing: antialiased;
      padding: 0.3rem;
      box-shadow: 0 0 0 1px rgba(0,0,0,.1);
      border-radius: 0.25em;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      width: 100%;

      &::-webkit-input-placeholder {
        -webkit-text-fill-color: transparentize($black, .5);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 1px transparentize($blue, .5);

        // Media query browser detection to prevent weirdness in non-webkit browsers
        @media (-webkit-animation) {
         color: $blue;
         -webkit-text-fill-color: $black;
        }

        // And make sure our placeholder doesn't get a weird color, either.
        &::-webkit-input-placeholder {
         -webkit-text-fill-color: transparentize($black, .5);
        }
      }
    }

    input[type="email"], input[type="password"] {
      @extend input[type="text"];
    }

    textarea {
      @extend input[type="text"];

      &.code {
        height: 300px;
      }

      &.text {
        height: 100px;
      }
    }

    input[type="submit"] {
      $darker-blue: darken($blue, 5%);
      background: -webkit-gradient(linear, left top, left bottom, from($blue), to($darker-blue));
      color: #FFF;
      border: 1px solid darken($blue, 10%);
      padding: 0.3em 1em;
      border-radius: 3px;
    }
  }
}
