@import "variables";

.navbar {
  background: $gradient;
  color: #FFF;
  overflow: hidden;
  height: 0;
  padding: .53em;
  transition: all 300ms ease;

  &:hover {
    height: 105px;
    padding: 1em;
  }

  .nav {
    /* Medium screens (640px) */
    @media (min-width: 40rem) {
      text-align: right;
    }

    /* Large screens (1024px) */
    @media (min-width: 64rem) {
      text-align: right;
    }
  }

  a {
    text-decoration: none;
    color: #FFF;
    margin-right: 1em;
  }
}

.floating-logo {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  position: fixed;
  top: 30px;
  right: 20px;
  color: lighten($black, 30%);
  border: 1px solid lighten($black, 30%);
  padding: 5px;
  border-radius: 10px;
  font-weight: normal;
  font-family: "Oswald", inherit;
  border-bottom: 5px solid lighten($black, 30%);
  cursor: pointer;

  max-height: 2.3em !important;
  z-index: -1;
  opacity: 0.8;
}
