@import "variables";

.snippet-box {
  border-bottom: 1px solid lighten($black, 60%);
  min-height: 200px;
  max-height: 400px;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

  a {
    text-decoration: none;
    color: $blue;
  }

  h3 {
    margin-bottom: 0;
  }

  & + hr {
    display: block;
    border: 0;
    border-top: 1px solid lighten($black, 70%);
    width: 60%;
    margin: 1em 0;
  }
}

.snippet-page {
  h2 {
    margin-bottom: 0;
  }

  .code-table {
    td:first-child {
      text-align:right;

      a {
        text-align: right;
        padding-right: 1em;
        color: #ccc;
        word-wrap: break-word;
        text-decoration: none;

        &:active {
          outline: none;
          border: none;
        }
      }
    }
  }
}

.username a {
  color: #aaa;
}

.details {
  font-size: 0.7em;
  margin: 0;
  padding: 0;
  color: lighten($black, 20%);

  a {
    color: lighten($black, 20%);
     &:hover {
       text-decoration: underline;
     }
  }
}

.private {
  color: $red;
  text-transform: uppercase;
}

.pagination {
  li {
    list-style: none;
    display: inline;
    margin: 0 1em;
  }
}
