@import "variables";

/* Small screens (default) */
html {
  font: 100%/1.5 "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: $black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html { font-size: 120%; }
}

pre {
  font-size: 80%;
  font-family: "Source Code Pro", monospace;
}
